In [1]:
str1="Fast"

In [2]:
str2="Fast"

In [3]:
print(hex(id(str1)))
print(hex(id(str2)))

0x207e2ca8d20
0x207e2ca8d20

In [4]:
print(str1 is str2)

True

In [5]:
list1=[1,2,3,4]

In [6]:
list2=[1,2,3,4]

In [7]:
print(list1 is list2)

False

In [8]:
print(hex(id(list1)))
print(hex(id(list2)))

0x207e412e280
0x207e41095c0

In [9]:
def display(name, age, gender):
    print(name, age, gender)

In [10]:
display("ali", 23, "Male")

ali 23 Male

In [11]:
def show(*args):
    for i in range(len(args)):
        print(args[i])

    args[3].append(21)
    print(args)
    print(type(args))

In [12]:
show("ali",23, "Male", [1,2,3,4])

ali
23
Male
[1, 2, 3, 4]
('ali', 23, 'Male', [1, 2, 3, 4, 21])
<class 'tuple'>

In [13]:
def output(**args):
    print(type(args))
    print(args)

In [14]:
output(name="Ahmed", education="BS")

<class 'dict'>
{'name': 'Ahmed', 'education': 'BS'}

In [15]:
def area(**args):
    print(args["name"])

In [16]:
output(height=1.2, base=2.2) #why output function is used here

<class 'dict'>
{'height': 1.2, 'base': 2.2}

In [17]:
def square(i):
    return i**2

In [18]:
print(square(4))

16

In [19]:
#lambda function
square=lambda i : i**2

In [20]:
print(square(4))

16

In [21]:
fun = lambda base, exponent : base **exponent

In [22]:
print(fun(3,4))

81

In [23]:
class student:
    count=0
    def __init__ (self,name,age,gender): # __init__ function is used for constructor
        self.name=name
        self._age=age #_ for protected
        self.__gender=gender  #__ for private
        student.count+=1

def __str__ (self):
    return self.name + str(self._age) + self.__gender

In [24]:
s1= student("A", 44 ,"Male")
s2= student("A", 44 ,"Male")

In [34]:
print(s1._age)

44

In [65]:
print(s1.count)

2

In [70]:
print(s1)

<__main__.student object at 0x00000207E3E628D0>

In [62]:
sum=lambda val1, val2 : val1+val2

In [63]:
print(sum(9,7))

16

In [93]:
class animal:
    def __init__ (self, mamal, reptile):
        self.mamal=mamal
        self._reptile=reptile

    def __str__ (self):
        return self.mamal + " " + (self._reptile)

In [96]:
print(animal("whale", "dinasour"))

whale dinasour

In [98]:
print(animal.mamal)

AttributeError: type object 'animal' has no attribute 'mamal'